body,
html {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf')format('truetype');
}

@font-face {
    font-family: 'Ubuntu-l';
    src: url('../fonts/Ubuntu-L.ttf')format('truetype');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu-R.ttf')format('truetype');
}

h2 {
    font-size: 1.6rem;
    color: #2C3C69;
    font-family: "Ubuntu-l";
    margin: 20px;
    text-align: left;
}

h3 {
    font-size: 1.1rem;
    color: #2C3C69;
    font-family: "Ubuntu-l";
    padding: 0 1rem;
    text-align: left;
}

h4 {
    padding: 0;
    color: #2C3C69;
    font-family: 'Ubuntu';
    margin: 10px 24px;
}

p {
    font-family: 'Ubuntu-l';
    font-size: .9rem;
    margin: 24px;
}

img {
    vertical-align: middle;
}

.diff {
    color: #1895d8;
}

.main_wrapper {
    width: 88%;
    background: -webkit-linear-gradient(45deg, #3cdcea 0, rgba(102, 200, 136, 0.25) 100%);
    margin: auto;
    padding: 20px;
}

.page_wrapper {
    width: 88%;
    background-color: rgba(239, 241, 242, 1);
    margin: auto;
    padding: 20px;
    text-align: center;
}

.order_wrapper {
    width: 64%;
    background-color: #fff;
    display: inline-block;
    padding: .5rem;
}

.cont_wrapper {
    width: 64%;
    background-color: rgba(239, 241, 242, 1);
    display: inline-block;
    position: relative;
    text-align: left;
}

.aside_container {
    width: 33%;
    display: inline-block;
    margin-left: 2%;
    vertical-align: top;
    text-align: left;
    text-align: center;
}

.calculator {
    padding: 1.5rem;
    margin: 0;
    background: -webkit-linear-gradient(45deg, #853c8a 0, #3cdcea 100%);
    border-radius: 2rem;
    margin-bottom: 2rem;
    text-align: left;
}

.display_cost {
    text-align: center;
    display: inline;
    padding: 1rem;
    font-family: 'Ubuntu';
    color: #fff;
}

#lblRes {
    display: inline;
    font-size: 2rem;
    color: #fffd5e;
    font-family: 'Ubuntu';
    position: absolute;
    margin-right: 2rem;
}

.dollar_sign {
    display: inline;
    font-size: 2rem;
    color: #fffd5e;
    font-family: 'Ubuntu';
    margin-left: .5rem;
}

.calc_order {
    display: block;
    padding: .5rem 3rem;
    background-color: #f05c42;
    border-radius: 1rem;
    text-decoration: none;
    font-family: 'Ubuntu';
    color: #fff;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.calc_h3 {
    padding: 0;
    color: #fff;
    font-family: 'Ubuntu';
    text-align: center;
    font-size: 1.2rem;
}

/*label{
	height: 2rem;
	margin: .5rem;
	display: inline-block;
}
select{
	height: 2rem;
	border-radius: .3rem;
	margin-top: .5rem;
	margin-bottom: .5rem;
	text-align: center;
	display: inline-block;
	float: right;
	width: 170px;
	font-family: 'OpenSans-Regular';
	line-height: 1.7;
}*/

table {
    border-collapse: collapse;
}

td {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5rem;
}

label,
select {
    height: 2rem;
    margin-bottom: .5rem;
}

.heighted {
    height: 2rem;
    margin-bottom: .5rem;
    float: right;
    width: 80%;
    padding-left: .5rem;
}

.heighted_2 {
    height: 2rem;
    margin-top: .5rem;
    float: right;
    width: 80%;
    padding-left: .5rem;
}

select {
    float: right;
    width: 80%;
    padding-left: .2rem;
}

option {
    padding-left: 1rem;
}

optgroup {
    padding-left: .5rem;
}

tr {
    margin-bottom: 5rem;
}

option {
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
}

.link_lists li {
    display: inline-block;
    padding: .5rem;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    font-family: 'Ubuntu-L';
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    border-top: solid 3px #e5e5e5;
    margin-top: -3px;
}

.link_lists li:hover {
    padding-left: 2rem;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    cursor: pointer;
    border-top: solid 3px black;
}

.tab-cont {
    background-color: #f9f9f9;
    border-top: solid 3px #e5e5e5;
    border-left: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    margin-top: 1rem;
}

.btn-post {
    color: #fff;
    /*float: right;*/
    border: 0;
    padding: 7px 10px;
    min-width: 92px;
    z-index: 1;
    cursor: pointer;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #5fba57;
    border-radius: 3px;
    border-bottom: 3px solid #289422;
    position: relative;
    transition: 0.3s;
    display: inline-block;
}

.btn-post:before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 3px;
    z-index: -1;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #289422;
    transition: 0.3s;
}

.btn-post:hover:before {
    height: 100%;
}

.tab_li.active {
    border-top: solid 3px #1895d8;
    border-bottom: solid 1px #f9f9f9;
    color: #0099da;
}

.tab_li.active:hover {
    border-top: solid 3px #1895d8;
    padding: .5rem;
    border-bottom: solid 1px #f9f9f9;
}

.tab_li.returning_customer.active {
    border-right: solid 1px #f9f9f9;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

fieldset {
    border: 1px solid transparent;
    margin: 0;
    font-family: 'Ubuntu';
    color: #fff;
}

hr {
    border: none;
    border-top: 1px dotted #fff;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width: 80%;
}

@media screen and (max-width: 480px) {
    select {
        float: none;
    }
    label {
        display: block;
    }
    .calculator {
        padding: 2rem 0;
        margin: 0;
    }
    .calc_order {
        display: block;
        margin: 2rem;
    }
    header {
        padding: 20px;
        position: relative;
    }
}

.aside {
    display: inline-block;
    background-color: #fff;
    text-align: left;
}

@media screen and (max-width: 680px) {
    .main_wrapper {
        width: 90%;
        margin: auto;
    }
    .page_wrapper {
        width: 90%;
        margin: auto;
    }
    .order_wrapper {
        width: 100%;
        margin: auto;
    }
    .cont_wrapper {
        width: 100%;
        margin: auto;
    }
    .aside_container {
        width: 100%;
        margin: auto;
    }
}

header {
    padding-top: 20px;
    padding-left: 4.2%;
    padding-right: 2%;
}

.logo {
    max-width: 250px;
    display: inline-block;
}

/* Remove margins and padding from the list and add a white background*/

ul.topnav {
    list-style-type: none;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-right: 3%;
    background-color: #fff;
}

/* Float the list items side by side */

ul.topnav li {
    float: left;
}

/* Style the links inside the list items */

ul.topnav li a {
    display: inline-block;
    color: #144b92;
    text-align: center;
    margin: 4px;
    text-decoration: none;
    padding: 4px 10px 4px 10px;
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
    font-family: "OpenSans-Regular";
}

.special_link {
    background-color: #1098a0;
    border-radius: 1rem;
    font-size: 13px;
    font-weight: bold;
}

/* Change background color of links on hover */

ul.topnav li a:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1098a0;
    padding: 6px;
    border-radius: .3rem;
}

ul.topnav li.dropdown_holder ul.dropdown li:hover {
    cursor: pointer;
    color: #fff;
    background-color: #1098a0;
    border-radius: 0px;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {
    display: none;
}

/* When the screen is less than 680 pixels wide, hide all list items. Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {
    ul.topnav li {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
        margin-right: 20px;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
    ul.topnav.responsive li.dropdown_holder {
        display: none;
    }
}

/* Editing the dropdown menu of the SERVICES menu*/

.navigation ul ul {
    display: none;
}

.navigation ul li:hover>ul {
    display: block;
}

ul.topnav li.dropdown_holder ul.dropdown {
    position: absolute;
}

.dropdown {
    padding: 0;
    margin: 0;
}

ul.topnav li.dropdown_holder ul.dropdown li {
    float: none;
    display: block;
    background-color: #054552;
}

ul.topnav li.dropdown_holder ul.dropdown li a {
    color: #fff;
    font-weight: normal;
}

.content_one {
    text-align: center;
    margin: 5vw;
}

.icons {
    vertical-align: bottom;
}

.icons img {
    padding: 1rem;
}

footer {
    background-color: #14193a;
    padding: 0rem 1rem 3rem 1rem;
    text-align: center;
    color: #fff;
    font-size: .9rem;
    font-family: "OpenSans-Regular";
}

.footer_links {
    margin: 1rem;
    padding: 2rem;
}

.footer_links a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    margin: 1rem 1rem 0rem 1rem;
    display: inline-block;
    position: relative;
    line-height: 2;
}

.footer_links a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: solid .2rem #78dd78;
    transition: .5s;
}

.footer_links a:hover:after {
    width: 100%;
}

.top_scroller {
    position: fixed;
    bottom: 10px;
    right: 13px;
    display: none;
}

.fixedbutton {
    position: fixed;
    bottom: 35%;
    left: 0px;
    z-index: 2;
    width: 36px;
}

.question_holder {
    background-color: #fff;
    padding: .8rem 2rem;
    font-family: 'Ubuntu-L';
    font-size: 1.3rem;
    cursor: pointer;
}

.question_holder:after {
    font-family: 'FontAwesome';
    content: '\f067';
    font-size: 1.6rem;
    float: right;
    display: inline;
    margin: 0;
    color: #1895d8;
    vertical-align: middle;
}

.contents {
    text-align: justify;
    padding: 0 18px;
    max-height: 0;
    display: inline-block;
    overflow: hidden;
    transition: max-height .5s ease-out;
    margin: 0 auto;
    background-color: #fff;
}

.question_holder.active {
    background-color: #1895d8;
    color: #fff;
    padding: .8rem 2rem;
}

.question_holder.active:after {
    content: '\f068';
    color: #fff;
    vertical-align: middle;
}

.content_holder {
    background-color: #fff;
    padding: 1rem 0;
    border: 2px solid #78dd80;
}

.content_holder p {
    font-family: 'OpenSans-Regular';
    line-height: 1.7;
    margin-top: 0;
    text-align: justify;
}

.order {
    padding: .4em 3em;
    border-radius: .2em;
    background-color: #f05c42;
    color: #fff;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
}

.order_holder {
    background-color: rgba(239, 241, 242, 1);
    border-bottom: 1px solid #ffc;
    border-top: 1px solid #ffc;
    margin: 0 2rem 2rem 2rem;
    padding: 0 1rem 2rem 1rem;
    text-align: center;
}

/*Tooltip*/

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    font-size: 13px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.social_links {
    padding: 1rem;
}

.social_links a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    margin: -1rem 1rem 1rem 1rem;
    display: inline-block;
    position: relative;
    line-height: 2;
}

.social_links a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: solid .2rem #78dd80;
    transition: .2s;
}

.social_links a:hover:after {
    width: 100%;
}